.classpath
.project
.settings
bin
spinja
*.diff
*.model
src/spinja/promela/compiler/parser/Promela*
src/spinja/promela/compiler/parser/Parse*
src/spinja/promela/compiler/parser/Token*
src/spinja/promela/compiler/parser/SimpleCharStream*
build
